@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  
  --color-bg-main: #FDFCF9;
  --color-emerald-50: #f0fdf4;
  --color-emerald-100: #dcfce7;
  --color-emerald-600: #16a34a;
  --color-emerald-700: #15803d;
  --color-emerald-800: #166534;
  --color-emerald-900: #064e3b;
  
  --color-slate-100: #f1f5f9;
  --color-slate-200: #e2e8f0;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-800: #1e293b;
  
  --color-amber-50: #fffbeb;
  --color-amber-100: #fef3c7;
  --color-amber-200: #fde68a;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-amber-700: #b45309;
  --color-amber-800: #92400e;
}

body {
  @apply bg-bg-main text-slate-800 antialiased selection:bg-emerald-200;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
